<footer class="footer">
    <div class="footer__content container">
        <div class="footer__column">
            <a href="" class="footer__logo">
                <img src="./dist/img/logo.png" alt="">
            </a>
            <div data-da="footer__content,3,767" class="footer__info">Все права защищены © 2014</div>
        </div>
        <div class="footer__column  footer__column_full">
            <nav class="footer__menu">
                <ul class="footer__list">
                    <li><a class="footer__link" href="">Главная</a></li>
                    <li><a class="footer__link" href="">Аукцион</a></li>
                    <li><a class="footer__link" href="">О проекте</a></li>
                    <li><a class="footer__link" href="">Партнерам</a></li>
                    <li><a class="footer__link" href="">Контакты</a></li>
                    <li><a class="footer__link" href="">Новости</a></li>
                    <li><a class="footer__link" href="">Реклама</a></li>
                    <li><a class="footer__link" href="">FAQ</a></li>
                    <li><a class="footer__link" href="">Регистрация</a></li>
                    <li><a class="footer__link" href="">Соглашение</a></li>
                    <li><a class="footer__link" href="">Услуги</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__column">
            <div class="footer__contacts">
                <a href="tel:+7495222222" class="footer__phone"><small>+7</small> (495) 22-22-22</a>
                <a href="#" class="footer__callback"><span>Обратная связь</span></a>
            </div>
        </div>
    </div>
</footer>